{% extends "base.html" %}
{% block title %}Profile{% endblock title %}

{% block content %}

<section id="profile">
    <div class="profile__contaier">
        <div class="image__box__profile">
            <div class="image__container">
                <img src="{{profile_image_url.url}}" alt="">
                <div class="edit_image"><i class="fas fa-edit" aria-hidden="true"></i></div>
                
            </div>
            <div class="details">
                <h4>{{request.user.first_name}} {{request.user.last_name}}</h4>
                <h4>{{request.user.username}} (username)</h4>
                <h4>{{request.user.email}}</h4>
                <form action="/logout_user/" method="POST">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </div>
            <div class="address">
                <div>
                    <h4>(address)</h4>
                    <p>{{address_display}}<i class="fas fa-edit address_edit" aria-hidden="true"></i></p>
                </div>
            </div>
        </div>
    </div>
    <div class="upload_image_form">
        <form action="/profile/" method="POST" class="image_form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="cross"><i class="fas fa-times closeImageForm" aria-hidden="true"></i></div>
            <div class="image_btns">
                <h3>Upload your profile image</h3>
                {{form.as_p}}
                <button type="submit">Upload</button>
            </div>
        </form>
    </div>
    <div class="address_upload">
        <form action="/address/" method="POST">
            {% csrf_token %}
        <div class="cross2"><i class="fas fa-times closeAddressForm" aria-hidden="true"></i></div>
        <h1>Upload your address !<h1>
            <textarea name="address_area" id="address_area" cols="50" rows="3"></textarea>
            <div class="btn__address">
                <button type="submit">Upload</button>
            </div>
        </form>
    </div>
</section>

{% endblock content %}

